* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: auto;
}

.container {
  width: 50%;
  height: auto;
  margin: 5px auto 15px auto;
}

h1 {
  color: color-mix(in srgb, rgb(6, 2, 71) 70%, rgb(236, 93, 93) 30%);
  text-align: center;
  /* margin-top: 5%; */
  /* padding-bottom: 15px; */
  /* padding-right: 15px; */
}

nav {
  width: 80%;
  height: auto;
  padding: 5px 5px;
  /* margin: 15px; */
  font-family: sans-serif;
  transform: translate(25%, 5%);
}

.top-nav {
  width: 70%;
  /* position: relative;  */

  /* text-align: center; */
  border-style: inherit;
  border-radius: 0.5rem;
  list-style-type: none;
  background-color: color-mix(
    in hsl shorter hue,
    rgb(214, 153, 22) 60%,
    rgb(41, 5, 5) 30%
  );
  /* width: 30%; */
  padding: 10px 10px;
}

.pro {
  /* width: 50%; */
  background-color: white;
  padding: 5px;
  border-radius: 0.5rem;
  margin: 10px;
  font-size: 2rem;
  /* font-family: sans-serif; */
}
#submit {
  background-color: color-mix(
    in hsl shorter hue,
    rgb(214, 153, 22) 60%,
    rgb(41, 5, 5) 30%
  );

  padding: 10px;
  width: 35%;
  transform: translate(95%, 20%);
  color: white;
  font-size: 18px;

  /* overflow: hidden; */
  /* margin-top: 2%;
  margin-left: 5%; */
}

form {
  width: 50%;
  height: auto;
  display: block;
  /* background-color: brown; */
  /* transform: translate(25%, 20%); */
  transform: translate(45%, 35%);
}

.field {
  width: 100%;
  padding: 10px;
  border-color: color-mix(
    in hsl shorter hue,
    rgb(214, 153, 22) 60%,
    rgb(41, 5, 5) 30%
  );
  transform: translate(0.5%, 5%);

  border-radius: 0.5rem;
}

.sign-up {
  max-width: 500px;
  height: 100vh;
  background-color: black;
  margin: 5px auto 15px auto;
}
#sign > input[type="text"],
input[type="password"] {
  padding: 15px 0;
  margin: 5px 0 15px 0;
  left: -10%;
  width: 250px;
  display: block;
  background-color: #f1f1f1;
  border: none;
  border-radius: 0.5rem;
}

#Add {
  background-color: color-mix(
    in hsl shorter hue,
    rgb(214, 153, 22) 60%,
    rgb(41, 5, 5) 30%
  );

  padding: 10px;
  width: 35%;
  transform: translate(95%, 20%);
  color: white;
  font-size: 18px;

  /* overflow: hidden; */
  /* margin-top: 2%;
  margin-left: 5%; */
}
